<% include base/user_header %>
<div class="user-mid-content">
  <div class="mid-content-item">
    <div class="mid-content-item-header clearfix">
      <h2 class="float-left">Expenses</h2>
      <div class="create-page-item-link float-right">
        <a href="#create-scroll-down-form">Create expense</a>
      </div>
    </div>
    <div class="">
      <div class="page-search"
        <form>
          <select>
            <option>All</option>
            <option>Non-recurring</option>
            <option>Recurring</option>
          </select>
        </form>
      </div>
      <% if(expenses != null) {%>
        <div class="page-search">
          <form>
            <input id="myInput" name="item" type="text" placeholder="Search..."/>
          </form>
        </div>
        <table class="table table-hover">
          <tr>
            <th></th><th>Item</th><th>Amount</th><th>Type</th><th>Date</th><th></th>
          </tr>
          <tbody id="myTable">
            <% expenses.forEach(function(expense) { %>
              <tr>
                <td>1</td>
                <td><%= expense.expense_item %></td>
                <td><%= expense.amount %></td>
                <td><%= expense.expense_type %></td>
                <td><%= expense.date_time %></td>
                <td>
                  <a href="/expenses/<%= expense.expense_id %>/edit/">Edit</a>
                  <a>|</a>
                  <a href="/expenses/<%= expense.expense_id %>/delete/">Delete</a>
                </td>
              </tr>
             <% }); %>
          </tbody>
        </table>
        <div class="mid-content-item-footer">
          <div>
            <ul>
              <li><a href="">Import</a></li>
              <li><a href="">Export</a></li>
              <li><a href="">Email</a></li>
            </ul>
          </div>
        </div>
       <%}else{%>
         <div>No expenses</div>
       <%}%>
      </div>
    </div>
  <div class="mid-content-item" id="create-scroll-down-form">
    <h2>Create expense</h2>
    <div class="page-form">
      <form  action="expenses/" method="POST">
        <div>
          <p><lable>Item name:</label></p>
          <p><input name="expense_item" type="text"/></p>
        </div>
        <div>
          <p><lable>Amount:</label></p>
          <p><input name="amount" type="text"/></p>
        </div>
        <div>
          <p><lable>Choose option:</label></p>
          <p>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="expense_type" id="recurring"
                autocomplete="Recurring" value="Recurring" checked> Recurring
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="expense_type" id="non-recurring"
                value="Non-recurring"> Non-recurring
              </label>
            </div>
          </p>
        </div>
        <div>
          <input name="name" type="submit" value="Create"/>
        </div>
      </form>
    </div>
  </div>
</div>
<% include base/user_footer %>
