<% include base/user_header %>
<div class="user-mid-content">
  <div class="mid-content-item" id="top">
    <div class="mid-content-item-header clearfix">
      <h2 class="float-left">Suppliers</h2>
      <div class="create-page-item-link float-right">
        <a href="#create-scroll-down-form">Create supplier</a>
      </div>
    </div>
    <% if(suppliers == null){ %>
      <p>No suppliers created yet!</p>
    <% }else{ %>
    <div class="page-search">
      <form>
        <input id="myInput" name="item" type="text" placeholder="Search..."/>
      </form>
    </div>
    <table class="table table-hover">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Created at</th>
        <th></th>
      </tr>
      <tbody id="myTable">
      <% suppliers.forEach(function(supplier) { %>
      <tr>
        <td>1</td>
        <td><%= supplier.supplier_name %></td>
        <td><%= supplier.email %></td>
        <td><%= supplier.phone %></td>
        <td><%= supplier.date_time %></td>
        <td>
          <a href="/suppliers/<%= supplier.supplier_id %>/edit">Edit</a>
          <a>|</a>
          <a href="/suppliers/<%= supplier.supplier_id %>/delete">Delete</a></td>
        </td>
      </tr>
      <% }); %>
      </tbody>
    </table>
    <div class="mid-content-item-footer">
      <div>
        <ul>
          <li><a href="/suppliers/import">Import</a></li>
          <li><a href="/suppliers/export">Export</a></li>
          <li><a href="">Email</a></li>
        </ul>
      </div>
    </div>
    <% } %>
  </div>
  <div class="mid-content-item" id="create-scroll-down-form">
    <div class="mid-content-item-header clearfix">
      <h2 class="float-left">Create supplier</h2>
      <div class="back-to-top-link float-right">
        <a href="#top">Back to top</a>
      </div>
    </div>
    <div class="page-form">
      <form action="/suppliers" method="POST">
        <div>
          <p><lable>Name:</label></p>
          <p><input name="supplier_name" type="text"/></p>
        </div>
        <div>
          <p><lable>Email:</label></p>
          <p><input name="email" type="text"/></p>
        </div>
        <div>
          <p><lable>Phone:</label></p>
          <p><input name="phone" type="text"/></p>
        </div>
        <div>
          <p><lable>Products:</label></p>
          <p><textarea name="products" placeholder="Type product..."></textarea></p>
        </div>
        <div>
          <input name="name" type="submit" value="Create"/>
        </div>
      </form>
    </div>
  </div>
</div>
<% include base/user_footer %>
