<% include base/user_header %>
  <div class="user-mid-content">
    <div class="mid-content-item">
      <div class="mid-content-item-header clearfix">
        <h2 class="float-left">User profile</h2>
        <div class="create-page-item-link float-right">
          <a href="/employees">Go Back </a>
        </div>
      </div>
      <div class="page-form">
        <form action="/employees/edit" method="POST">
            <div>
              <p><lable>Firstname:</label></p>
              <p><input name="fname" type="text" value="<%= user.firstname %>"/></p>
              <input name="user_id" type="hidden" value="<%= user.user_id %>"/>
            </div>
            <div>
              <p><lable>Lastname:</label></p>
              <p><input name="lname" type="text" value="<%= user.lastname %>"/></p>
            </div>
            <div>
              <p><lable>Email:</label></p>
              <p><input name="email" type="text" value="<%= user.email %>"/></p>
            </div>
            <div>
              <p><lable>Phone:</label></p>
              <p><input name="phone" type="text" value="<%= user.phone %>"/></p>
            </div>
            <div>
              <input name="name" type="submit" value="Edit"/>
            </div>
        </form>
      </div>
    </div>
  </div>
<% include base/user_footer %>
